.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:arial
}
html{
  scroll-behavior: smooth;
}
.row{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;

 
}
p{

  font-size: 20px;
}
table{
  position: relative;
  margin: 100px auto ; 
  text-align: left;

}
a{
  cursor: pointer;
  background-color: rgb(0, 89, 255);
  padding: 10px;
  color: #FFF;
  margin: 5px;
  font-size: 20px;
  border-radius: 10px;
}
Button{
  background-color: #FF0000;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
Button:hover{
  background-color: #f10707;
}
th{
  width:20%;
  font-size: 15px;
  margin: 10px;
}
tr{
  font-size: 15px;
}
li{
  list-style-type: none;
  float: left;
}
.list-group{
  grid: flex;

  
  
  }
.list-group-item{
background-color: rgb(191, 191, 191);
}
